Subject: Host Summary [System Architecture="{{ ansible_architecture }}"]

Report Date: "{{ansible_date_time.date}}"

Distribution: "{{ansible_distribution}}"
Version: "{{ansible_distribution_version}}"
Hostname: "{{ansible_hostname}}"
Kernel: "{{ansible_kernel}}"
